In [330]:
import pandas as pd

In [331]:
data1 = pd.read_csv("data_1.csv")
data2 = pd.read_csv("data_2.csv")
training_df = pd.read_excel("training_data.xlsx")

In [332]:
main_df = pd.concat([data1,data2])

# Cleaning Testing data

In [333]:
main_df.isnull().any()

Column1              True
customerID          False
gender              False
SeniorCitizen       False
Partner             False
Dependents          False
tenure              False
PhoneService        False
MultipleLines        True
InternetService     False
OnlineSecurity       True
OnlineBackup         True
DeviceProtection     True
TechSupport          True
StreamingTV          True
StreamingMovies      True
Contract            False
PaperlessBilling    False
PaymentMethod       False
MonthlyCharges      False
TotalCharges         True
Churn                True
dtype: bool

## Handling "Column1"

In [334]:
main_df.Column1

0       0.0
1       1.0
2       2.0
3       3.0
4       4.0
       ...
2038    NaN
2039    NaN
2040    NaN
2041    NaN
2042    NaN
Name: Column1, Length: 5043, dtype: float64

In [335]:
main_df.drop('Column1', inplace=True, axis=1)

In [336]:
main_df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,False,True,False,1,False,NaN,DSL,False,...,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.85,False
1,5575-GNVDE,Male,False,False,False,34,True,False,DSL,True,...,True,False,False,False,One year,False,Mailed check,56.950001,1889.5,False
2,3668-QPYBK,Male,False,False,False,2,True,False,DSL,True,...,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True
3,7795-CFOCW,Male,False,False,False,45,False,NaN,DSL,True,...,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.75,False
4,9237-HQITU,Female,False,False,False,2,True,False,Fiber optic,False,...,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.649994,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.800000,1990.5,No
2039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.200000,7362.9,No
2040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.600000,346.45,No
2041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.400000,306.6,Yes
2042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.650000,6844.5,No

In [337]:
main_df.isnull().any()

customerID          False
gender              False
SeniorCitizen       False
Partner             False
Dependents          False
tenure              False
PhoneService        False
MultipleLines        True
InternetService     False
OnlineSecurity       True
OnlineBackup         True
DeviceProtection     True
TechSupport          True
StreamingTV          True
StreamingMovies      True
Contract            False
PaperlessBilling    False
PaymentMethod       False
MonthlyCharges      False
TotalCharges         True
Churn                True
dtype: bool

## Handling column "MultipleLines"

In [338]:
main_df["MultipleLines"].unique()

array([nan, False, True, 'No', 'No phone service', 'Yes'], dtype=object)

In [339]:
main_df["MultipleLines"] = main_df["MultipleLines"].astype(str) # changing to string

In [340]:
#  replacing values

main_df["MultipleLines"] = main_df["MultipleLines"].apply(lambda x: x.replace("False","No"))
main_df["MultipleLines"] = main_df["MultipleLines"].apply(lambda x: x.replace('No phone service',"No"))
main_df["MultipleLines"] = main_df["MultipleLines"].apply(lambda x: x.replace('True',"Yes"))
main_df["MultipleLines"] = main_df["MultipleLines"].apply(lambda x: x.replace("nan","Yes"))

# Handling column "OnlineSecurity"

In [341]:
main_df["OnlineSecurity"] = main_df["OnlineSecurity"].astype(str)

In [342]:
main_df["OnlineSecurity"].unique()

array(['False', 'True', 'nan', 'No', 'Yes', 'No internet service'],
      dtype=object)

In [343]:
#  replacing values

main_df["OnlineSecurity"] = main_df["OnlineSecurity"].apply(lambda x: x.replace("False","No"))
main_df["OnlineSecurity"] = main_df["OnlineSecurity"].apply(lambda x: x.replace('No internet service',"No"))
main_df["OnlineSecurity"] = main_df["OnlineSecurity"].apply(lambda x: x.replace('True',"Yes"))
main_df["OnlineSecurity"] = main_df["OnlineSecurity"].apply(lambda x: x.replace("nan","No"))

## Handling column "OnlineBackup"

In [344]:
main_df["OnlineBackup"].unique()

array([True, False, nan, 'No', 'Yes', 'No internet service'], dtype=object)

In [345]:
main_df["OnlineBackup"] = main_df["OnlineBackup"].astype(str)

In [346]:
#  replacing values

main_df["OnlineBackup"] = main_df["OnlineBackup"].apply(lambda x: x.replace("False","No"))
main_df["OnlineBackup"] = main_df["OnlineBackup"].apply(lambda x: x.replace('No internet service',"No"))
main_df["OnlineBackup"] = main_df["OnlineBackup"].apply(lambda x: x.replace('True',"Yes"))
main_df["OnlineBackup"] = main_df["OnlineBackup"].apply(lambda x: x.replace("nan","No"))

## Handling column "DeviceProtection"

In [347]:
main_df["DeviceProtection"].unique()

array([False, True, nan, 'No', 'Yes', 'No internet service'], dtype=object)

In [348]:
main_df["DeviceProtection"] = main_df["DeviceProtection"].astype(str)

In [349]:
#  replacing values

main_df["DeviceProtection"] = main_df["DeviceProtection"].apply(lambda x: x.replace("False","No"))
main_df["DeviceProtection"] = main_df["DeviceProtection"].apply(lambda x: x.replace('No internet service',"No"))
main_df["DeviceProtection"] = main_df["DeviceProtection"].apply(lambda x: x.replace('True',"Yes"))
main_df["DeviceProtection"] = main_df["DeviceProtection"].apply(lambda x: x.replace("nan","No"))

## Handling column "TechSupport"

In [350]:
main_df["TechSupport"].unique()

array([False, True, nan, 'Yes', 'No', 'No internet service'], dtype=object)

In [351]:
main_df["TechSupport"] = main_df["TechSupport"].astype(str)

In [352]:
#  replacing values

main_df["TechSupport"] = main_df["TechSupport"].apply(lambda x: x.replace("False","No"))
main_df["TechSupport"] = main_df["TechSupport"].apply(lambda x: x.replace('No internet service',"No"))
main_df["TechSupport"] = main_df["TechSupport"].apply(lambda x: x.replace('True',"Yes"))
main_df["TechSupport"] = main_df["TechSupport"].apply(lambda x: x.replace("nan","No"))

## Handling column "StreamingTV"

In [353]:
main_df["StreamingTV"].unique()

array([False, True, nan, 'No', 'Yes', 'No internet service'], dtype=object)

In [354]:
main_df["StreamingTV"] = main_df["StreamingTV"].astype(str)

In [355]:
#  replacing values

main_df["StreamingTV"] = main_df["StreamingTV"].apply(lambda x: x.replace("False","No"))
main_df["StreamingTV"] = main_df["StreamingTV"].apply(lambda x: x.replace('No internet service',"No"))
main_df["StreamingTV"] = main_df["StreamingTV"].apply(lambda x: x.replace('True',"Yes"))
main_df["StreamingTV"] = main_df["StreamingTV"].apply(lambda x: x.replace("nan","No"))

## Handling column "StreamingMovies"

In [356]:
main_df["StreamingMovies"].unique()

array([False, True, nan, 'No', 'Yes', 'No internet service'], dtype=object)

In [357]:
main_df["StreamingMovies"] = main_df["StreamingMovies"].astype(str)

In [358]:
#  replacing values

main_df["StreamingMovies"] = main_df["StreamingMovies"].apply(lambda x: x.replace("False","No"))
main_df["StreamingMovies"] = main_df["StreamingMovies"].apply(lambda x: x.replace('No internet service',"No"))
main_df["StreamingMovies"] = main_df["StreamingMovies"].apply(lambda x: x.replace('True',"Yes"))
main_df["StreamingMovies"] = main_df["StreamingMovies"].apply(lambda x: x.replace("nan","No"))

## Handling column "TotalCharges"

In [359]:
main_df["TotalCharges"].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
2038    False
2039    False
2040    False
2041    False
2042    False
Name: TotalCharges, Length: 5043, dtype: bool

In [360]:
a = main_df["TotalCharges"].dropna() # dropping null values

In [361]:
a = a.astype(str) # changing to string to replace non int values

In [362]:
# replacing values

a = a.apply(lambda x : x.replace("","0"))
a = a.apply(lambda x : x.replace("0 0","0"))

In [363]:
a = a.astype(float) # changing to float to calculate mean

In [364]:
my_mean = a.mean()

In [365]:
main_df["TotalCharges"] = main_df["TotalCharges"].fillna(my_mean) # filling null values by mean

In [366]:
main_df["TotalCharges"].isnull().sum()

0

## Handling column "Churn"

In [367]:
main_df["Churn"].unique()

array([False, True, nan, 'No', 'Yes'], dtype=object)

In [368]:
main_df["Churn"] = main_df["Churn"].astype(str)

In [369]:
#  replacing values

main_df["Churn"] = main_df["Churn"].apply(lambda x: x.replace("False","No"))
main_df["Churn"] = main_df["Churn"].apply(lambda x: x.replace('True',"Yes"))
main_df["Churn"] = main_df["Churn"].apply(lambda x: x.replace("nan","No"))

In [370]:
main_df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

## Handling column "SeniorCitizen"

In [371]:
main_df["SeniorCitizen"]

0       False
1       False
2       False
3       False
4       False
        ...
2038        0
2039        0
2040        0
2041        1
2042        0
Name: SeniorCitizen, Length: 5043, dtype: object

In [372]:
main_df["SeniorCitizen"] = main_df["SeniorCitizen"].astype(str)

In [373]:
main_df["SeniorCitizen"] = main_df["SeniorCitizen"].apply(lambda x : x.replace("0","False"))
main_df["SeniorCitizen"] = main_df["SeniorCitizen"].apply(lambda x : x.replace("1","True"))

## Handling column "Partner"

In [374]:
main_df["Partner"].unique()

array([True, False, 'No', 'Yes'], dtype=object)

In [375]:
main_df["Partner"] = main_df["Partner"].astype(str)

In [376]:
main_df["Partner"] = main_df["Partner"].apply(lambda x : x.replace("False","No"))
main_df["Partner"] = main_df["Partner"].apply(lambda x : x.replace("True","Yes"))

## Handling column "Dpendents"

In [377]:
main_df["Dependents"].unique()

array([False, True, 'No', 'Yes'], dtype=object)

In [378]:
main_df["Dependents"] = main_df["Dependents"].astype(str)

In [379]:
main_df["Dependents"] = main_df["Dependents"].apply(lambda x : x.replace("False","No"))
main_df["Dependents"] = main_df["Dependents"].apply(lambda x : x.replace("True","Yes"))

## Handling column "PhoneService"

In [380]:
main_df["PhoneService"].unique()

array([False, True, 'Yes', 'No'], dtype=object)

In [381]:
main_df["PhoneService"] = main_df["PhoneService"].astype(str)

In [382]:
main_df["PhoneService"] = main_df["PhoneService"].apply(lambda x : x.replace("False","No"))
main_df["PhoneService"] = main_df["PhoneService"].apply(lambda x : x.replace("True","Yes"))

## Handling column "PaperlessBilling"

In [383]:
main_df["PaperlessBilling"].unique()

array([True, False, 'Yes', 'No'], dtype=object)

In [384]:
main_df["PaperlessBilling"] = main_df["PaperlessBilling"].astype(str)

In [385]:
main_df["PaperlessBilling"] = main_df["PaperlessBilling"].apply(lambda x : x.replace("False","No"))
main_df["PaperlessBilling"] = main_df["PaperlessBilling"].apply(lambda x : x.replace("True","Yes"))

### Now our data is cleaned

In [386]:
main_df.to_csv("testing_data.csv")